version: "3.8"

services:
  postgres:
    image: "{{ postgres_image }}:{{ postgres_version }}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
{% if postgres_initdb_dir is defined %}
      - "{{ postgres_initdb_dir }}:/docker-entrypoint-initdb.d"
{% endif %}
    environment:
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_DB: "{{ postgres_db }}"
    networks:
      - mlops-internal
    deploy:
      placement:
        constraints:
          - node.role==manager

volumes:
  postgres_data:

networks:
  mlops-internal:
    external: true
