# Environment configuration for docker-mailserver
SSL_TYPE=letsencrypt
LETSENCRYPT_DOMAIN={{ mail_hostname }}
LETSENCRYPT_EMAIL={{ acme_email }}
ENABLE_SPAMASSASSIN=1
ENABLE_CLAMAV=1
ENABLE_FAIL2BAN=1
ENABLE_POSTGREY=0
POSTMASTER_ADDRESS={{ mail_admin }}
TZ={{ timezone }}
