# AIDE configuration
@@define DBDIR /var/lib/aide
@@define LOGDIR /var/log/aide

database=file:@@{DBDIR}/aide.db
database_out=file:@@{DBDIR}/aide.db.new
gzip_dbout=yes

verbose=5
report_url=file:@@{LOGDIR}/aide.log
report_url=stdout

# Rules
All=p+i+n+u+g+s+m+c+md5+sha1
Norm=s+n+b+md5+sha1
Dir=p+i+n+u+g
Log=p+u+g+n
Static=p+u+g+n+s+md5+sha1

# Directories to monitor
/boot All
/bin Norm
/sbin Norm
/lib Norm
/lib64 Norm
/opt Norm
/usr Norm
/root Norm
!/usr/src
!/usr/tmp

/etc All
!/etc/mtab
!/etc/.*~
!/etc/adjtime
!/etc/lvm/cache
!/etc/lvm/backup